
body{
    font-family: 'Dosis', sans-serif;
    background-color: #efe5b9;
    transition:  0.1s linear;
}



.main-body{
    
    width: 50vw;
    height: 100vh;
    text-align: center;
    padding-top: 10% ;
    color: #491708 !important;
    
}

#mb-dog{
    display: none;
    
}

#mb-dog label{
    color:#f5d494;
}

#mb-dog h1{
    color:rgb(247, 219, 170);
}


/* Sloth home */
/*https://www.vecteezy.com/vector-art/210784-sloth-vector-illustration*/ 

.img{
    display: inline-block;
    position: fixed;
    left: 50%;
    top: 10%;
    height: 700px;
    width: 700px;
    /*background-color: #efe5b9;*/

    transition: all .1s ease-in-out;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    
    background-repeat: no-repeat;  
    opacity: 1;
    
}

#imgsloth{
    background-image: url('Sloth3_ohnebg.svg');
    opacity: 1;
}

#imgdog{
    margin-top: 180px;
    background-image: url('Dog_ohnebg.svg');
    opacity: 0;
}

.text{
    font-size: 3em !important;
    color: #c27b49;
    font-family: 'Dosis', sans-serif;
    transition: color 0.1s linear;

}

.input-container{
    display: block;
    margin: auto;
    
}

.input-container label{
    height: 50px;
    text-align: center;
    display: flex;
    flex-direction:column;
  }

.sloth label{
    color: #948323;
}

.dog label{
    color: rgb(247, 219, 170);
}

.input-container label span {
    display: inline-block;
    vertical-align: middle;
    line-height: 70px;
    font-size: 1.5em;
  }


input[type=tel] {
    border: none;
    color: #2a2c2d;
    font-family: helvetica;
    font-size: 1.5em;
    width: 250px;
    
    text-align: center;
    margin: auto;
    background-color: #fff;
    display: flex;
    flex-direction:column;
    border-radius: 40px;
    border: 2px solid #202020;
    color: #89837a;
  }


#mb-sloth input[type=tel]:focus{
    border-color: #0a9396;
    outline: 0;
    
    
    
}

#mb-dog input[type=tel]:focus{
    border-color: #ee9b00;
    outline: 0;
    
    
    
}


.output{
    margin-top: 60px;
    color: #202020;
}

button{
    position: absolute;
    top: 90%;
    left: 50px;
    width: 80px;
    height: 30px;
    border-radius: 25px;
    border: 2px solid #afa186;
    
    background-color: #c49a57;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    transition: none;
    padding-left: 3px;
    

    -moz-box-shadow:    inset 0 0 8px rgba(0,0,0,.2);
    -webkit-box-shadow: inset 0 0 8px rgba(0,0,0,.2);
    box-shadow:         inset 0 0 8px rgba(0,0,0,.2);

    
}

button #slider{
    height: 22px;
    width: 22px;
    border-radius: 50%;
    background-color: #efe5b9;
    
    transition: all .1s linear;
    margin-left: 0px;
    
    
}

.dog{
    display: none;
}





