@media only screen and (max-width: 600px) {
    html, body{
        margin: 0;
        height: 100%;
        overflow: hidden
    }
    
    .main-body{
      width: 100vw;
      height: 80vh;
    }
    
    .input-container label{
        height: 30px;
    }

    .input-container label span {
        display: inline-block;
        vertical-align: middle;
        line-height: 40px;
        font-size: 1em;
      }

    input[type=tel]{
        padding-top: 5px;
        height: 40px;
        width: 90%;
        border-radius: 5px;
        line-height: 30px;
    }

    button{
        position: relative;
        display: block;
        margin: auto;
        left: 0px;
        top: 0px;
        
    }

    .text{
        font-size: 2em !important;
    }

    .img{
        z-index: -1;
        
        left: 50%;
        top: 65%;
        
        
    }

    #imgsloth{
        width: 200px;
        height: 200px;
        margin-left: -100px;
    }
    #imgdog{
        width: 250px;
        height: 250px;
        margin-top: 50px;
        margin-left: -125px;
    }

    .output{
        margin-top: 20px;
    }
  }
