#main-body{
    
    width: 100vw;
    height: 100vh;
    text-align: center;
    padding-top: 10% ;
    color: #353535;
    background-image: url('https://static.vecteezy.com/system/resources/previews/002/099/721/large_2x/mountain-beautiful-landscape-background-design-illustration-free-vector.jpg');
    background-image: url('https://static.vecteezy.com/system/resources/previews/002/099/787/large_2x/desert-landscape-background-design-illustration-free-vector.jpg');
    
}

h1{
    font-size: 3.5em !important;
    color: #ffed7b !important;
    font-family: 'Rubik Moonrocks', cursive;
}

.input-container{
    display: block;
    margin: auto;
    width: 800px;
    
}

.input-container label{
    height: 50px;
    text-align: center;
    color: #ffed7b;
    
    display: flex;
    flex-direction:column;
  }

.input-container label span {
    display: inline-block;
    vertical-align: middle;
    line-height: 70px;
    font-size: 1.5em;
  }


input[type=tel] {
    border: none;
    color: #2a2c2d;
    font-family: helvetica;
    font-size: 2em;
    width: 250px;
    
    text-align: center;
    margin: auto;
    background-color: #e6e6e6;
    display: flex;
    flex-direction:column;
    border-radius: 40px;
    border: 2px solid #0a9396;

    color: #6e6e6e;
  }
  
  .output{
      margin-top: 60px;
      color: #202020;
  }


#curved_div{
    position: fixed;
    top: 600px;
    left: -50vw;
    display: block;
    width: 200vw;
    height: 50vw;
    background-color: rgba(0,0,0,0);
    z-index: 0;
    border-radius: 50% 50% 0 0;
}

